<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Shipment Tracker</li>
      <li>
        <%= link_to "View Orders", orders_path %>
      </li>
    </ul>
  </div>
</div>
